include top
doctype html
html(lang='ko')
	+top('QuizTree','index',isLogin)
		.container
			.wrapper
				- for(quiz in list){
					.card
						header.card-header
							p.card-header-title
								// 퀴즈 이름
								| #{quiz.name}
						.card-content
							.content
								// 퀴즈 설명
								span.substance #{quiz.explan}
								br
								// 카테고리
								- for(tag in quiz.tags){
									a.tag.is-light(href=`/tags/${tags[tag]}`) #{tags[tag]}
								- }
								br
								// 올린시간
								time(datetime=`${quiz.time}`) #{quiz.k_time}
								// 만든 사람
								span.author
									a #{quiz.auther}
							footer.card-footer
								a.card-footer-item(href=`/play/${quiz.id}`) Play
								a.card-footer-item(href='#' onclick=`like('${quiz.id}')`)
									i.fa.fa-thumbs-o-up(aria-hidden='true')
									| Like
				- }
			a(href="/create/")#addBtn.button
				i.fa.fa-plus(aria-hidden='true')
		script(src='./js/index.js')
		+msg_alert(usermsg)
