include card
doctype html
html(lang='ko')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='shortcut icon', href='../img/favicon.ico', type='image/x-icon')
		link(rel='icon', href='../img/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='../css/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/font.css')
		link(rel='stylesheet', href='../css/result.css')
		link(rel='stylesheet', href='../css/bulma.css')
		title QuizTree
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	body
		script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.slim.js")
		script.
			const socket = io.connect('https://quiztree.xyz:5782');
			let flag = !{ids};
			function likeBtn(id){
			flag[id] = !flag[id];
			let f = flag[id] ? 'like':'rmlike';
			socket.emit(f,{
			quizid:id,
			token:'#{token}'
			});
			console.log('like!');
			}
		nav.navbar.is-transparent
			.navbar-brand
				a.navbar-item(href='../')
					img(src='../../img/QuizTree@2.png', alt='QuizTree')
					h1(style='margin-left:10px;font-size:24px') QuizTree
				.navbar-burger.burger(data-target='navMenu')
					span
					span
					span
			#navMenu.navbar-menu
				.navbar-start
					form(method='post', action='../search')
						input#searchbar.input(type='text', placeholder='Search',name='word')
		.container
			script.
				const webSocket = new WebSocket('wss://quiztree.xyz:5782');
				webSocket.onopen = event => {};
				webSocket.onerror = event =>{console.log(event);};
				function likeBtn(id) {
				webSocket.send(JSON.stringify({
				id:id,
				token:'#{token}'
				}));
				}
			.wrapper
				.titles
					h1.title #{word}에 대한 검색 결과
					span #{count}개
				.cards
					- function date_ko(date) {
					- date= new Date(date);
					- return `${date.getFullYear()}/${date.getMonth()+1}/${date.getDay()} ${date.getHours()}:${date.getMinutes()}`;
					- }
					- for(quiz in list){
						- list[quiz].Information = JSON.parse(list[quiz].Information);
						- list[quiz].time = date_ko(list[quiz].time);
						+card(list[quiz].title, list[quiz].Information.info, list[quiz].tags, list[quiz].time, list[quiz].username, list[quiz].id)
					- }
